<footer>
  <div class="footer-logo">
    <a href="/"class="logo"><img src="/images/Logo@2x.png" alt="Reeds Creek Farms Logo"></a>
    <p>Your source for well-bred and grass-fed white dorper sheep and meats.</p>
  </div>
  <hr>
  <div class="footer-row">
    <div class="footer-menu">
      <h4>Products</h4>
         <div class="products">
           <a href="/products/#dorper-rams">White Dorper Rams</a>
           <a href="/products/#dorper-ewes">White Dorper Ewes</a>
           <a href="/products/#meats">Grass-Fed Meats</a>
         </div>
    </div>
    <div class="Contact-us" id="contact">
      <h4>Contact Us</h4>
      <form class="" id="form" name = "contact us" action="index.html" method="post" data-netlify="true" >
        <div class="footer-login">
          <input type="Name" name="name" value=""placeholder="Name" required>
          <input type="Email" name="email" value="" placeholder="Email" required>
          <input type="tel" name="phone" value="" placeholder="Phone">
        </div>

        <textarea  class="message"type="text" name="Message" rows="1" cols="80" value="" placeholder="Message" required></textarea>
        <button type="submit"  value="Submit" class="submit"><div class="line "></div>
        SUBMIT</button>
      </form>
    </div>
    <div class="footer-contacts">
      <h4>Contacts</h4>
      <div class="c-info">
        <img src="/images/phone.png" alt="">
        <a href="tel:8708445664">870-844-5664</a>
      </div>
      <div class="c-info">
        <img src="/images/email.png" alt="">
        <a href="mailto:duane@reedscreekdorpers.com">duane@reedscreekdorpers.com</a>
      </div>
      <div class="c-info">
        <img src="/images/address.png" alt="">
        <a href="https://goo.gl/maps/8vbjPCbZwb6tz2Pz6"> 59 Judge Anderson Rd, Strawberry AR 72469</a>
      </div>
    </div>
  </div>
  <hr>
  <p style="margin: auto; font-size: 12px;">© 2021 Reeds Creek Farms. All Rights Reserved</p>
  <p style="margin: auto; font-size: 12px;">Website By <a href="https://www.scriptworks.net" target="_blank">ScriptWorks Web Dev</a></p>
</footer>
