<header>
  <nav>
    <div class="hamburger" id=hamburger>
      <div class="line1" id="line1">
      </div>
      <div class="line2" id="line2">
      </div>
      <div class="line3" id="line3">
      </div>
      <div class="mobile-menu" id="mobile-menu">
        <ul>
          <a href="/products/#dorper-rams"><li class='m-menu'>White Dorpers For Sale</li></a>
          <a href="/products/#meats"><li class='m-menu'>Grass-Fed Meats</li></a>
          <hr>
          <a href="/about/"><li class='m-menu'>About</li></a>
          <a href="#contact"><li class='m-menu'>Get In Touch</li></a>
        </ul>
      </div>
    </div>
    <ul>
      <li><a href="/products/" class="menu-item">Dorpers For Sale</a></li>
      <li><a href="/products/#meats" class="menu-item">Grass-Fed Meats</a></li>
    </ul>
    <a href="/" class="logo"><img src="/images/Logo@2x.png" alt="Reeds Creek Farms Logo" ></a>
    <ul>
      <li><a href="/about/" class="menu-item">About</a></li>
      <li><a href="#contact" class="menu-item">Get In Touch</a></li>
    </ul>
    <div class="search" id="search">
      <a href="tel:8708445664"><img src="/images/phone.png" alt="call us"></a>
    </div>

    <div class="accent-nav">

    </div>
  </nav>
</header>
